
*{
  margin: 0;
  padding: 0;
}

html { 
  scroll-behavior: smooth;
 }

body { 
  width: 100%;
  background: transparent;
}




.slider-container{
  width: 100%;
  height: 60vh;
  position: relative;
}
.slideshow {
  list-style: none;
  z-index: 1;
}

.slideshow li span {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}



.slideshow li:nth-child(1) span { 
  background: url(PICTURE/dose-media-3R3sNikjVnA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

.slideshow li:nth-child(2) span {
  background: url(PICTURE/kelly-sikkema-2d-ZQjDhH94-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background: url(PICTURE/pexels-cottonbro-studio-3778868.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background: url(PICTURE/pexels-juris-freidenfelds-2013664\ \(1\).jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background: url(PICTURE/pexels-leeloo-thefirst-4860079.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background: url(PICTURE/pexels-merve-7592171.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
}
 @-webkit-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -moz-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-timing-function: ease-in;
 animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
 -moz-animation-timing-function: ease-out;
 animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-webkit-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

.no-cssanimations .slideshow li span { opacity: 1; }













.get-second{
  position: absolute;
  background: transparent;
  width: 100%;
  margin-top: -17%;
}


.get-started-second{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 0;
}


.get-started-second h2{
  padding-top: 3%;
  font-size: 50px;
  color: var(--h1-text-color);
}

h4{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 47%;
    
}
.get-started-second h1 {
  margin-top: -30px;
  font-size: 80px;
  color: var(--h1-text-color);
  background: linear-gradient(to right, #000 20%, #fff 30%, #fff 70%, #000 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.first-main{
  width: 100%;
  height: 100%;
  background: transparent;
  
}

.second-main{
  width: 100%;
  height: 100%;
  background: transparent;
  
}

.third-main{
  width: 100%;
  height: 100%;
  background: transparent;
  
}

.fold-container{
  background: transparent;
  width: 100%;
  height: 100%;
}

.spacer{
  aspect-ratio: 760/400;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1{
  
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: auto;
  background-image: url(layered-waves-haikei\ \(2\).svg);
}

.card-container{
  width: 100%;
  height: 70%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.card-container1{
  width: 100%;
  height: 70%;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
}

.custom-shape-divider-top-1689346909 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1689346909 svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 314px;
}

.custom-shape-divider-top-1689346909 .shape-fill {
  fill: #FFFFFF;
}
.spacer1{
  aspect-ratio: 760/400;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer2{
  background-image: url(layered-waves-haikei\ \(6\).svg);
}
.layer3{
  background-image:  url(layered-waves-haikei\ \(5\).svg);
}



/* 2nd Artist*/
.card1{
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
  transition: 1s;
  
}
.card1:hover{
  transform: translateX(50%);
}
.card1 .imgBox1{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s; 
}
.card1:hover .imgBox1{
  transform: rotateY(-180deg);
}
.card1 .imgBox1 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card1 .imgBox1 img:nth-child(2){
  transform: rotateY(180deg);
}
.card1 .details1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 .details1 .content1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 23px;
  margin-bottom: 30px;
}
.card1 .details1 .content1 h2{
  text-align: center;
  font-weight: 700;
  line-height: 1em;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
.card1 .details1 .content1 h2 span{
  color: blueviolet;
  font-size: 0.8em;
}
.card1 .details1 .content1 .social-icons{
  position: relative;
  margin-top: 10px;
  display: flex;
}
.card1 .details1 .content1 .social-icons1 a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  transition: 0.2s;
}

.scrool-container{
  width: 50px;
  height: 50px;
  background: #0c3655;
  position: absolute;
  position: fixed;
  right: 10px;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 60%;
}

.scrool-container i{
  color: #fff;
  font-size: 25px;
  margin-top: 13px;
}





.up-scroll{
  width: 100%;
  height: 50px;
  background: transparent;
  bottom: 15px;
  right: 0;
  position: absolute;
  position: sticky;
}

.up-scroll-circle
{
width: 50px;
height: 100%;
border-radius: 50%;
background: white;
justify-content: center;
align-items: center;
text-align: center;
float: right;
margin-right: 15px;
}


.up-scroll-circle i{
  margin-top: 14px;
  font-size: 22px;
}



.container{
    top: 150px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.4s ease;
    margin-top: -130px;
    margin-left: 20px;
     position: fixed;
}
.container.active{
    height: 420px;
}
.toggleBox{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
.icon{
    position: absolute;
    height: 4px;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161d2c;
    border-radius: 50px;
}
.icon::before, .icon::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161d2c;
    border-radius: 50px;
    transition: 0.3s;
}
.icon::before{
    top:12px;
}
.icon::after{
    bottom:8px;
}
.toggleBox.active .icon{
    width: 0;
}
.toggleBox.active .icon::before{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px,4px) rotate(45deg);
}
.toggleBox.active .icon::after{
    width: 40px;
    transform-origin: right;
    transform: translate(-25px,-6px) rotate(-45deg);
}
.navItems{
    width: 100%;
    visibility: hidden;
}
.container.active .navItems{
    visibility: visible;
}
li{
    list-style: none;
}
li a{
    text-transform: uppercase;
    color: #161d2c;
}
li a i {
    position: relative;
    display: block;
    font-size: 28px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
}
li a i::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 0px;
    height: 50%;
    transform: translateY(-50%);
    background-color: #41766e;
    border-radius: 8px 0 0 8px;
}
li:hover a i::after{
    width: 8px;
    transition: 0.3s;
}
.container.active .navItems li a i{
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: calc(0,08s * var (--1));

}
.container.active .navItems li:hover a i{
    transition: 0.2s ease;
    color: #41766e;
}
li a span{
    position: absolute;
    color: #fff;
    margin: 22px 0;
    font-weight: 500;
    letter-spacing: 2px;
}
.container.active .navItems li a span{
    transform: translateX(15px);
    transition: 0.4s ease;
    transition-delay: calc(0,08s * var (--g));

}
.container.active .navItems li:hover a span{
    transform: translateX(30px);
    transition: 0.2s ease;
    color: #030303;
}
.color{
  width: 100%;
  height: 100px;
  background:#001220;
  position: absolute;
}