*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    scroll-behavior: smooth;
}
.signboard img{
    margin-left: 63%;
    margin-top: -70px;
}
.menubar{
    display: flex;
}

.menubar ul{
    display: inline-flex;
    list-style: none;
}
.menubar ul li{
    width: 180px;
    height:10px;
    margin-top: 25px;
    margin-left: 50px;
    
}
.menubar ul li a {
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.menubar ul li a img {
    margin-top: -15px;
    margin-left: 12px;
}
.menubar a img {
    margin-top: 10px;
    margin-left: 50px;
}
.logocenter{
    margin-left: 15px;
}
.menubar nav{
    display:flex;
    align-items:center;

}
.menubar nav a{
    position:relative;
    text-decoration: none;
    font-family: 'Poppin', sans-serif;
    color: black;
    font-size: 14px;
    letter-spacing:0.5px;
    padding:0 30px;
}
.menubar nav a:after{
    content:"";
    position: absolute;
    background-color: rgb(143, 219, 187);
    height: 3px;
    width:0;
    left: 0;
    bottom:-10px;
    transition: 0.3s;
}
.menubar nav a:hover{
    color: rgb(105, 104, 104);
}
.menubar nav a:hover:after{
    width:100%
}
/*
.artappre{
    margin-top: -580px;
}
#yellow{
    background-color: #ece571;
    height: 100px;
    margin-top: -100px;
    margin-left: -10px;
    margin-right: -5px;
}
.searchbar{
    height:20px;
    width:300px;
    margin-left: 820px;
    margin-top: -37px;
    display: flex;
    position: relative;
    cursor:pointer;
    padding: 10px 20px;
    background:#fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.searchbar:hover input{
    width:400px;
}
.searchbar input{
    width:0;
    outline:none;
    border:none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.searchbar a .fas{
    color: #1daf;
    font-size: 18px;
}
.explorebutton{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: #bbcfaa;
    width: 600px;
    height: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration:0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin-left: 60px;
    margin-top: -200px;
    position: absolute;
}
.explorebutton:hover, .explorebutton:focus, .explorebutton:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
}
.headerpic{
    margin-top: 210px;
    margin-bottom: 180px;
}
.bgyellow {
    background-color: #ece571;
    width: 100%;
    position: absolute;
    
}

.parallax img{
    position: absolute;
    top: 60px;
    left: 0;
    width: 20%;
    pointer-events: none;

}
.parallax img#color1{
    transform: translateX(-270px);
    position: fixed;
    margin-top: -100px;

}
.parallax img#color2{
    transform: translateX(1351px);
    position: fixed;
    margin-top: -100px;
}
.parallax img#color3{
    transform: translateX(-370px);
    position: fixed;
    margin-top: -100px;

}
.parallax img#color4{
    transform: translateX(1451px);
    position: fixed;
    margin-top: -100px;

}
.parallax img#color5{
    transform: translateX(-470px);
    position: fixed;
    margin-top: -100px;
  
}
.parallax img#color6{
    transform: translateX(1551px);
    position: fixed;
    margin-top: -100px;
}
.parallax img#color7{
    transform: translateX(-570px);
    position: fixed;
    margin-top: -100px;
  
}
.parallax img#color8{
    transform: translateX(1651px);
    position: fixed;
    margin-top: -100px;
}
.parallax img#color9{
    transform: translateX(-670px);
    position: fixed;
    margin-top: -100px;

}
.parallax img#color10{
    transform: translateX(1751px);
    position: fixed;
    margin-top: -100px;
}
/*
.sec{
    position: absolute;
    background-color: #efe471;
    margin-top: -60px;
    
}
.yellow{
    background-color: #efe471;
    width: 99%;
    height:50px;
    height: 150px;
    margin-top: 750px;
    position: absolute;

}
.infopic{
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
}
.yellow{
    background-color: #cecb8f;
    width: 100%;
    height: 101%;
    margin-left: -10px;
    position: absolute;
}
.textinfo{
    position: absolute;
    margin-left: 55%;
    margin-top: 10%;
}*/

.upper{
    width: 100%;
    height: 100vh;
    background: url(bgfinal.jpg);
}
.upper img{
    margin-top: -90px;
    margin-left: 100px;
}
.custom-shape-divider-top-1689746614 {
    position: absolute;
    top: 700px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689746614 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1689746614 .shape-fill {
    fill: #ab7b45;
}
.welcome{
    color: white;
}

.line{
    background: #ab7b45;
    width: 120px;
    height: 2px;
    margin-top: 13%;
    margin-left: 45%;
}
.welcome h2{
    text-align: center;
    margin-top: 20px;
    font-size: 33px;
    letter-spacing: 15px;
    font-family: 'Poppins', sans-serif;
}
.message p{
    margin-top: 20px;
    text-align: center;
    margin-left: 35%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 400px;
}
.button{
    margin-top: 50px;
    margin-left: 46.5%;
    margin-bottom:13% ;
}
.button button{
    background:transparent;
    border-color: #ab7b45;
    width: 100px;
    height: 40px;
    color: white;
    
}



.container body{
    display: flex;
    justify-content: center;
    height: 10ovh;
    align-items: center;
}

.container{
    display: flex;
    background: #062238;
    margin-bottom: 90px;  
} 
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px rgba(27, 27, 27, 0.644);
    overflow: hidden;
    margin-bottom: 90px
} 
.container img{
    height: 500px;
    width: 355px;
    border-radius: 10px 10px ;
}
.intro{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -1300px;
    background: rgb(170, 167, 167);
    color: black;
    transition: .5s;
}
.intro h1{
    margin: 3px;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}
.intro p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;

}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: -1300px;;
    background: rgb(255, 255, 255);
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}
.spin1{
    color: white;
    background: #001220;
    width: 100%;
    height: 100vh;
    margin-top: -90px;
}
.spin1 h3{
    color: white;
    margin-left: 60%;
    margin-top: 15%;
    position: absolute;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.spin1 p{
    color: white;
    margin-left: 73%;
    margin-top: 20%;
    position: absolute;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.line2{
    background: rgb(255, 255, 255);
    width: 120px;
    height: 2px;
    margin-left: 82%;
    position: absolute;
    margin-top: 27%;
}
.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: -570px;
    margin-left: 200px;
    margin-bottom: 60px;
}
.mainbox::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100% ; 
    background: url(icons8-arrow-30.png) no-repeat;
    background-size: 5%;
    left: 100%;
    top: 48%;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;
}
.span2{
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: red;
}
.span3{
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: blue;
}
.span4{
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: yellow;
}
.span5{
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: orange;
}
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.font{
    color: #fff;
    font-size: 23px;
}
.box1 .span1 h5{
    position: absolute;
    top: 41%;
    right: 68%;
    transform: rotate(200deg);
    text-align: center;
}
.box1 .span2 h5{
    position: absolute;
    top: 30%;
    right: 59%;
    transform: rotate(-130deg);
    text-align: center;
}
.box1 .span3 h5{
    position: absolute;
    top: 23%;
    right: 42%;
    transform: rotate(-93deg);
    text-align: center;
}
.box1 .span4 h5{
    position: absolute;
    top: 30%;
    right: 28%;
    transform: rotate(-45deg);
    text-align: center;
}
.box1 .span5 h5{
    position: absolute;
    top: 42%;
    right: 20%;
    transform: rotate(-15deg);
    text-align: center;
}
.box2 .span1 h5{
    position: absolute;
    top: 40%;
    right: 66%;
    transform: rotate(200deg);
    text-align: center;
}
.box2 .span2 h5{
    position: absolute;
    top: 29%;
    right: 60%;
    transform: rotate(-130deg);
    text-align: center;
}
.box2 .span3 h5{
    position: absolute;
    top: 23%;
    right: 44%;
    transform: rotate(-93deg);
    text-align: center;
}
.box2 .span4 h5{
    position: absolute;
    top: 27%;
    right: 25%;
    transform: rotate(-45deg);
    text-align: center;
}
.box2 .span5 h5{
    position: absolute;
    top: 39%;
    right: 17%;
    transform: rotate(-15deg);
    text-align: center;
}
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid white;
    background: #1D76E5;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}
.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}
.mainbox.animate::after{
    animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow{
    50%{
        right: -50px;
    }
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;
}
footer .footer{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap:20px
}
footer .footer .sec h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .footer .sec p{
    color: #555;
}
footer .footer .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
footer .footer .sci li{
    list-style: none;
}
footer .footer .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .footer .sci li a i{
    color: #fff;
    font-size: 20px;
}
footer .footer .quicklinks{
    position: relative;
}
footer .footer .quicklinks ul li {
    list-style: none;
}
footer .footer .quicklinks ul li a{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .footer .contact .info{
    position: relative;
}
footer .footer .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .footer .contact .info li span{
    color: #555;
    font-size: 20px;
    margin-left: -25px;
}
footer .footer .contact .info li a{
    color: #555;
    text-decoration: none;
    
}


.copyrightText{
    width: 100%;
    background: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0,0,0,0.15);
}
@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
    }
}
